/* add css module styles here (optional) */
.container {
  position: relative;
  width: 100%;
}

.outerScrollContainer {
  overflow: hidden;
  height: 100%;
}

.scrollContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 20px;
  box-sizing: content-box;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.svgScrollbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}
